<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>135139072266-bf2nfmh2ntanodig67fuqi9qt909154n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.135139072266-bf2nfmh2ntanodig67fuqi9qt909154n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>135139072266-0srf538rvf90r03q8ohqsfv6r6k3an21.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBMwgIXe_etZiYvJAL58RIj3efcf2yK34M</string>
	<key>GCM_SENDER_ID</key>
	<string>135139072266</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dratini.sharing-money</string>
	<key>PROJECT_ID</key>
	<string>sharing-money-41128</string>
	<key>STORAGE_BUCKET</key>
	<string>sharing-money-41128.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:135139072266:ios:c71b59d62a2531044f02f3</string>
</dict>
</plist>